<html>

<head>
    {{ template "head" .}}
</head>

<body>
    <div class="container">
        {{ template "header" .}}
        <h3 class="section-header">Recent Notes<small><a href="notes">all notes</a></small></h3>
        <ul class="post-list">
            {{range .Notes}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{end}}
        </ul>
        <h3 class="section-header">Recent Books I've Read<small><a href="books">all books</a></small></h3>
        <ul class="post-list">
            {{range .Books}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{end}}
        </ul>
    </div>
</body>

</html>