body {
    font-family: Georgia, serif;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

.container {
    width: 820px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    color: #062F4F;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    color: #B82601;
}





/*
 * Header
 */

 .header {
     font-size: 50px;
 }

.header-link {
    color: #062F4F;
    text-decoration: none;
}





/*
 * Homepage
 */

.post-list {
    list-style-type: none;
}

.section-header small {
    margin-left: 1.5em;
    font-size: 0.7em;
}

.section-header small a {
    color: #813772;
}