<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" .}}
</head>

<body>
    <div class="container">
        {{ template "header" .}}
        <div class="post-header-container">
            <h1 class="post-name">{{.Name}}</h1>
            <h5 class="post-date">{{.Date}}</h5>
        </div>
        <div class="post-content">
            {{.Content}}
        </div>
    </div>
</body>

</html>